<template>
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>Connect To Your Shopify Store</h1>
        </section>
        <!-- Main content -->
        <section class="content">
            <!-- Default box -->
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Connect Shopify Stores</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="card">
                        <input type="text" v-model="shop" class="form-control" placeholder="shopify domain" />
                        <br />
                        <a class="btn btn-primary" :href="generateLinkConnectYourStore">Connect to your store</a>
                    </div>
                </div>
            </div>
            <!-- /.box -->
        </section>
        <!-- /.content -->
    </div>
</template>
<script>
import { mapState, mapActions, mapGetters } from 'vuex'
import { post, get, queryString } from '../../../vuex/http/http';

export default {
    name: 'shop__index',
    data() {
        return {
            shop: 'deveioshop.myshopify.com'
        }
    },
    computed: {
        generateLinkConnectYourStore() {
            return `/app/install?shop=${this.shop}`
        }
    },
    methods: {
        
    },
    created() {
        
    }
}
</script>