.dashboard {
    height: 100%;
}

.min-height-120 {
    min-height: 120px;
}

.min-height-150 {
    min-height: 150px;
}

/* style addition for box facebook profile global/facebook/box_profile */
.box-widget {
    .widget-loading {
        position: absolute; 
        width: 100%; 
        height: 100%; 
        top: 0; 
        left: 0; 
        text-align: center;
        vertical-align: middle;
        z-index: 1;
        background: rgba(80, 80, 80, 0.31);
        p {
            margin-top: 162px;
            i {
                color: white;
            }
        }
    }
    .widget-user-control {
        position: absolute;
        right: 5px;
        top: 5px;
        i {
            color: white;
            cursor: pointer;
            &:hover {
                transform: scale(1.2);
            }
        }
    }
    
    .widget-user-link {
        color: white;
    }

    .widget-user-username-f20 {
        font-size: 20px;
    }

    .widget-user-username-f14 {
        font-size: 14px;
    }

    .widget-text-shadown {
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        font-weight: bolder;
    }

    .widget-user-image > img {
        border: 2px solid rgb(255, 255, 255);
    }
}

.reactions-img {
    margin-left: 5px;
    margin-right: 5px;
}

.overview-box-widget {
    .widget-user-header {
        text-align: center;
        background-size: cover !important;
    }
}

.page-overview-wrapper {
    .row { 
        margin-left: 0;
        margin-right: 0;
    }
}
.analytics-reactions {
    padding-left: 5px;
    padding-right: 5px; 
}
.widget-info-box {
    .info-box-icon {
        line-height: 0;
        background: #f7f7f7;
        float: none;
        text-align: center;
        height: 45px;
        width: 100%;
        padding-top: 5px;
        img {
            margin:2px auto;
            width: 32px;
            height: 32px;
        }
    }

    .info-box-content {
        margin: 0 auto;
        text-align: center;
    }
}

.post-content {
    text-overflow: ellipsis;
    overflow: hidden;
}

.post-image {
    img {
        width: 100%;
    }
}

.box-overview-instagram {
    width: 400px;
    margin: 0 auto;
    max-width: 100%;
}

.instagram-analytic-content {
    width: 100%;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    margin-top: -145px;
    background: white;
    padding-top: 160px;
}

.box-interaction-ele {
    width: 300px;
}

ul {
    padding-left: 0;
}
li {
    list-style: none;
}

th {
    text-transform: uppercase;
}

section.box-section {
    margin: 10px auto;
    border: 1px solid rgb(244, 244, 244);
    padding: 10px;

    h3 {
        text-transform: uppercase;
    }
}

button {
    cursor: pointer;
}

.nav-tabs {
    li {
        a {
            font-weight: bold;
        }
    }
}

.item-edit {
    input {
        margin-bottom: 5px;
    }
}

.username {
    font-weight: bolder;
    text-transform: capitalize;
}
