<template>
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar user panel -->
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="/static/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                </div>
                <div class="pull-left info">
                    <p>{{ user.username }}</p>
                    <a href="#">
                        <i class="fa fa-circle text-success"></i> Online</a>
                </div>
            </div>
            <!-- search form -->
            <form action="#" method="get" class="sidebar-form">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </form>
            <!-- /.search form -->
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu">
                <li class="header">MAIN NAVIGATION</li>
                <li>
                    <router-link to="/dashboard">
                        <i class="fa fa-dashboard"></i>
                        <span>Dashboard</span>
                    </router-link>
                </li>
                <li>
                    <router-link to="/widgets">
                        <i class="fa fa-th"></i>
                        <span>Widgets</span>
                        <span class="pull-right-container">
                            <small class="label pull-right bg-green">Hot</small>
                        </span>
                    </router-link>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-laptop"></i>
                        <span>UI Elements</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li>
                            <router-link to="/UI/general">
                                <i class="fa fa-circle-o"></i> General</router-link>
                        </li>
                        <li>
                            <router-link to="/UI/icons">
                                <i class="fa fa-circle-o"></i> Icons</router-link>
                        </li>
                        <li>
                            <router-link to="/UI/buttons">
                                <i class="fa fa-circle-o"></i> Buttons</router-link>
                        </li>
                        <li>
                            <router-link to="/UI/sliders">
                                <i class="fa fa-circle-o"></i> Sliders</router-link>
                        </li>
                        <li>
                            <router-link to="/UI/timeline">
                                <i class="fa fa-circle-o"></i> Timeline</router-link>
                        </li>
                        <li>
                            <router-link to="/UI/modals">
                                <i class="fa fa-circle-o"></i> Modals</router-link>
                        </li>
                    </ul>
                </li>
            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>
</template>

<script>
    import {
        post,
        get,
        queryString
    } from '../../vuex/http/http';
    import {
        mapState,
        mapActions,
        mapGetters
    } from 'vuex'
    export default {
        name: 'DashboardSidebar',
        computed: {
            ...mapGetters('user', [
                'user'
            ])
        }
    }
</script>
