<template>
    <div class="login-box">
        <div class="login-logo">
            <router-link to="/">
                <b>Admin</b> LTE</router-link>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">Sign in to start your session</p>
            <form @submit.prevent="user_login">
                <div v-if="errors.length > 0" class="alert alert-danger">
                    <a class="close" data-dismiss="alert">&times;</a>
                    <span v-for="error in errors" :key="error" v-html="error"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="text" class="form-control" placeholder="Username" v-model="credentials.username">
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" class="form-control" placeholder="Password" v-model="credentials.password">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <div class="checkbox icheck">
                            <label>
                                <div class="icheckbox_square-blue" aria-checked="false" aria-disabled="false" style="position: relative;">
                                    <input type="checkbox" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);">
                                    <ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins>
                                </div> Remember Me
                            </label>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
        </div>
    </div>
</template>
<script>
    import { mapState, mapActions, mapGetters } from 'vuex'
    import { post, get, queryString } from '../../../vuex/http/http';
    import icheck from 'icheck'

    export default {
        name: 'Login',
        data: function () {
            return {
                credentials: {
                    username: String.empty,
                    password: String.empty
                },
                errors: []
            }
        },
        methods: {
            _vue: function() {
                return this;
            },
            ...mapActions('user', [
                'login'
            ]),
            user_login() {
                let _vue = this;
                this.login(this.credentials).then(response => {
                    if (response.logged_in) {
                        _vue.$router.push('/dashboard')
                    } else {
                        _vue.errors = [];
                        let errors = response.data;
                        console.log(errors);
                        if (errors.error != undefined && errors.message) {
                            _vue.errors.push(errors.message);
                        }
                    }
                });
            }
        },
        mounted: function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional
            })
        }
    }
</script>
