<template>
    <div class="login-box">
        <div class="login-logo">
            <router-link to="/"><b>Shopify</b> Fulfillment</router-link>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">Sign up new account</p>
            <form @submit.prevent="user_signup">
                <div v-if="errors.length > 0" class="alert alert-danger">
                    <a class="close" data-dismiss="alert">&times;</a>
                    <span v-for="error in errors" :key="error" v-html="error"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="text" class="form-control" placeholder="UserName" v-model="credentials.username">
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="text" class="form-control" placeholder="Email" v-model="credentials.email">
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" class="form-control" placeholder="Password" v-model="credentials.password">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-xs-8"></div>
                    <!-- /.col -->
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
        </div>
    </div>
</template>
<script>
    import { post, get, queryString } from '../../../vuex/http/http';
    import { mapState, mapActions, mapGetters } from 'vuex'
    import icheck from 'icheck'
    export default {
        name: 'Signup',
        data: function () {
            return {
                credentials: {
                    username: String.empty,
                    email: String.empty,
                    password: String.empty
                },
                errors: []
            }
        },
        methods: {
            ...mapActions('user', [
                'signup'
            ]),
            user_signup: function () {
                let _vue = this;
                this.signup(this.credentials).then(response => {
                    if (response.logged_in) {
                        _vue.$router.push('/dashboard')
                    } else {
                        _vue.errors = [];
                        let errors = response.data;
                        if (errors.error != undefined && errors.messages) {
                            for (var key in errors.messages) {
                                if (errors.messages.hasOwnProperty(key)) {
                                    _vue.errors.push(errors.messages[key][0]);
                                }
                            }
                        }
                    }
                });
            }
        }
    }
</script>
